.all-games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.game-card {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}

.game-card > img {
    width: 500px;
    height: auto;
}

.game-card > p {
    text-align: center;
}
